<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit car</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/cars/{id}(id=${car.getId()})}" th:object="${car}">
    <label for="model">Введитe название автомобиля: </label>
    <input type="text" th:field="*{model}" id="model"/>
    <div style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model car</div>
    <br/>
    <label for="color">Введите цвет автомобиля: </label>
    <input type="text" th:field="*{color}" id="color"/>
    <div style="color:red" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color car</div>
    <br/>
    <label for="year">Введите год выпуска: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year</div>
    <br/>
    <label for="state_number">Введите гос номер автомобиля: </label>
    <input type="text" th:field="*{stateNumber}" id="state_number"/>
    <div style="color:red" th:if="${#fields.hasErrors('state_number')}" th:errors="*{stateNumber}">State number</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>



</body>
</html>